/* resume page */
.section{
  padding: 20px;
  display: flex;
  gap: 2rem;
}
.form-elem{
    margin-bottom: 3rem;
    position: relative;
    width: 30%;
}
.form-label {
  display: block;
  font-weight: 600;
  font-size: 14px;
  color: var(--clr-dark);
  margin-bottom: 0.5rem;
}
.form-control {

  border-radius: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 14px;
  padding: 0.8rem 1.6rem;
  font-family: inherit;
  width: 100%;
  outline: 0;
  transition: var(--transition);
}
.form-control:focus {
  border-color: rgba(0, 0, 0, 0.3);
}
