.header {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-content img {
  max-width: 760px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  margin-top: 3.2rem;
}
.lg-title {
  margin: 1.4rem 0;
  font-size: 37px;
  line-height: 1.4;
  color: var(--clr-dark);
}
.header-content p {
  margin-bottom: 2.6rem;
  line-height: 1.6;
}
.header-content {
  max-width: 740px;
  margin-right: auto;
  margin-left: auto;
}
